*{
    margin: 0px;
    padding: 0px;
}
#general{
    margin: auto;
    margin-top: 50px;
    width: 2000px;
    height: 1700px;
    background: color 0;
}


body{
    background-color: rgb(255, 255, 255);
}

header , footer{
    background-color: rgb(147, 168, 237);
}

header p{
    color: grey;
    font-weight:lighter;
    font-size: 120px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
footer p{
    color: grey;
    font-weight: bold;
    font-size: larger;  
}

#lista{
    
    text-align: center;
    
}


#tabla_movimientos {
    margin-top: 30px;
    border-style: outset;
    border: 5px solid rgb(44, 101, 180);
    border-radius: 5px;
  }

#tpv{  
    text-align: center;
}

#lista_de_movimientos{
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 30px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    background-color: aliceblue;
}

#estado_inversion{
    text-align: center;
    float: right;
    width: 900px;
    height: 750px;
    margin-top: 30px;
    background-color: aliceblue;
    
}
#tasa_intercambio{
    margin: auto;
    margin-top: 1000px;
    margin-bottom: 15px;
    width: 2000px;
    height: 700px;
    background-color: aliceblue;

}


#from {
    padding-top: 10px;
    padding-left: 100px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
}

#to {
    
    padding-left: 10px;
    padding-top: 100px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
}

#botones_tpv{
    margin: auto;
    margin-top: 50px;
    width: 1800px;
    height: 200px;
    
}



.invisible{
    display: none;
}
