<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Snow cripto</title>
</head>
<body>
    <header>
        <p class="container">Snow cripto</p>
    </header>
    <section class="container" id="tabla_movimientos">
        <h1>Lista de movimientos</h1>
        <table>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>Cantidad</th>
            <th>To</th>
            <th>Cantidad</th>
        </table>
    </section>
    <article id="tasa_intercambio">
        tasa de intercambio
    </article>
    <article id="estado_inversion">
        <h1>Estado de la inversion</h1>
        <table>
            <th>Cantidad</th>
        <th>Moneda</th>
        <th>Canidad</th>
        </table>
        
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
        </table>
    </article>

    <footer>
        <p class="container">&copy; 2023 - Nieves Gómez</p>
    </footer>
</body>
</html>