<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>CriptoSnow</title>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <p>CriptoSnow</p>
    </header>
    <div id="general">
        <nav>
            <a href="#" id="btnCompra" role="button">Compra</a>
            <a href="#" id="btnStatus" role="button">Status</a>
        </nav>
       
       
        <section id="lista_de_movimientos">
            <h1 id = "Lista">Lista de movimientos</h1>
            <table>
                <thead>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>From</th>
                    <th>Cantidad</th>
                    <th>To</th>
                    <th>Cantidad</th>
                </thead>
                <tbody id="tabla_movimientos">
    
                </tbody>
                
            </table>
            
        </section>
        <section id="estado_inversion" class="invisible">
            
            <h1>Estado de la inversion</h1>
            
            <table>
                <thead>
                    <th>Saldo</th>
                    <th>Moneda</th>
                    <th>Cantidad €</th>
                </thead>
                <tbody id="tabla_estado_inversion">
    
                </tbody>
            </table>
            <p>Valor actual:</p><p id="valor_actual"> </p>
            <p>Precio: </p><p id="precio"></p>
            <p>Resultado:</p><p id="resultado">  </p>
    
            <button id="recalcular">Recalcular</button>
              
        </section>
        <section id="tasa_intercambio" class="invisible">
        
            <h1 id = "tpv">TPV</h1>
    
            
            <div id="from">
                <label for="from_moneda_from">From:</label>
                <select name="from_moneda" id="from_moneda" placeholder="From">
                    <option value="EUR">EUR</option>
                    <option value="ETH">ETH</option>
                    <option value="BNB">BNB</option>
                    <option value="ADA">ADA</option>
                    <option value="DOT">DOT</option>
                    <option value="BTC">BTC</option>
                    <option value="USDT">USDT</option>
                    <option value="XRP">XRP</option>
                    <option value="SOL">SOL</option>
                    <option value="MATIC">MATIC</option>
                </select>
                <label for="from_cantidad_input">Cantidad:</label>
                <input type="number" name="from_cantidad" id="from_cantidad" step="0.0000000001" placeholder="Cantidad">
                <button id="calcular">Calcular</button>
                
            </div>
            
        
            <div id="to" >
                
                <label for="to_moneda_select">To:</label>
                <select name="to_moneda" id="to_moneda" aria-placeholder="To">
                    <option value="EUR">EUR</option>
                    <option value="ETH">ETH</option>
                    <option value="BNB">BNB</option>
                    <option value="ADA">ADA</option>
                    <option value="DOT">DOT</option>
                    <option value="BTC">BTC</option>
                    <option value="USDT">USDT</option>
                    <option value="XRP">XRP</option>
                    <option value="SOL">SOL</option>
                    <option value="MATIC">MATIC</option>
                </select>
                <p>Cantidad:</p>
                <section id="to_moneda_muestra">
                    
                    
                </section>
                
                
            </div>
            <div id="botones_tpv">
                <input type="submit" name="submit" id="submit" value="Comprar">
                <button id="cerrar">Cerrar</button> 
            </div>
            
        
        </section>    

    </div>
    
        
    
    <footer>
        <p class=>&copy; 2023 - Nieves Gómez</p>
    </footer>
</body>
</html>