<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>CriptoSnow</title>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <p>CriptoSnow</p>
    </header>
    <nav>
        <a href="#" id="btnCompra" role="button">Compra</a>
    </nav>
    <section id="tabla_movimientos_d">
        <h1 id = "Lista">Lista de movimientos</h1>
        <table>
            <thead>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Cantidad</th>
                <th>To</th>
                <th>Cantidad</th>
            </thead>
            <tbody id="tabla_movimientos">

            </tbody>
            
        </table>
    </section>
    <article id="tasa_intercambio" class="invisible">
        <h1 id = "tpv">TPV</h1>

        <form>
            <div id="from">
                <label for="from_moneda_from">From:</label>
                <select name="from_moneda" id="from_moneda" placeholder="From">
                    <option value="EUR">EUR</option>
                    <option value="ETH">ETH</option>
                    <option value="BNB">BNB</option>
                    <option value="ADA">ADA</option>
                    <option value="DOT">DOT</option>
                    <option value="BTC">BTC</option>
                    <option value="USDT">USDT</option>
                    <option value="XRP">XRP</option>
                    <option value="SOL">SOL</option>
                    <option value="MATIC">MATIC</option>
                </select>
                <label for="from_cantidad_input">Cantidad:</label>
                <input type="text" name="from_cantidad" id="from_cantidad" step="0.00001" placeholder="Cantidad">
                <button id="calcular">Calcular</button>
            </div>
            
        </form>
        <form>
            <div id="to" >
                
                <label for="to_moneda_select">To:</label>
                <select name="to_moneda" id="to_moneda" aria-placeholder="To">
                    <option value="EUR">EUR</option>
                    <option value="ETH">ETH</option>
                    <option value="BNB">BNB</option>
                    <option value="ADA">ADA</option>
                    <option value="DOT">DOT</option>
                    <option value="BTC">BTC</option>
                    <option value="USDT">USDT</option>
                    <option value="XRP">XRP</option>
                    <option value="SOL">SOL</option>
                    <option value="MATIC">MATIC</option>
                </select>
                <section id="to_moneda_muestra">
                    
                </section>
                
                
            </div>
            <div>
                <input type="submit" name="submit" id="submit" value="Aceptar">
            </div>
        </form>
    
        
        
    </article>
    <article id="estado_inversion">
        <h1>Estado de la inversion</h1>
       
    </article>

    <footer>
        <p class=>&copy; 2023 - Nieves Gómez</p>
    </footer>
</body>
</html>